// Node Modules
@import "~bootstrap/scss/bootstrap.scss"; // così si importa un file dai node modules

//Fontawesome
$fa-font-path: "@/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

//Styles
@import "./variables.scss";

body {
  background-color: $body-bg-color;
  font-family: $main-font;
}
